.galleryItemStyle{
    transition: transform 500ms; 
}

.iconStartPos {
    transform: translateY(-100px); 
    opacity: 0; 
} 

.textStartAnim {
    opacity: 0;
}

/* .galleryItemStyle:hover div::before{
    opacity: 0.8; 
} */

.galleryItemStyle:hover {
    /* background-color: rgb(48, 98, 255, 0.8) */
    background-color: rgb(0, 0, 0, 0.8)
}

.imageGrow {
    transform: scale(1.25); 
    opacity: 0.6; 
}