.ProjectInView {
  opacity: 1 !important;
  transition: transform 3s, opacity 3s;
}

/*mobile version*/
.PojectInView_mobile {
  opacity: 1 !important;
  transition: transform 3s, opacity 3s;
}

.ProjectOutView {
  opacity: 0;
  transition: transform 3s, opacity 3s;
}
