
:root {
    --AboutMeDuration: 2s; 
}

.reveal {
    opacity: 1.0;
    transform: rotateY(0deg);
    filter: blur(0px);
}

.revealAnimation {
    opacity: 1.0 !important;
    transform: rotateY(0deg) !important;
    filter: blur(0px) !important;
    transition: opacity var(--AboutMeDuration), transform var(--AboutMeDuration), filter var(--AboutMeDuration);
}

.hide {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
}

.hideAnimation {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
    transition: opacity var(--AboutMeDuration), transform var(--AboutMeDuration), filter var(--AboutMeDuration);
}